
# Java test file
DTDValidation.jar
validation.jar
XSDValidation.jar

# Report latex
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.tex.backup

# HTML files
*.html

# Project 3
Project3/trois_xquery_data/output3.xml
Project3/trois_xquery_data/output2.xml
