
# Java test file
DTDValidation.jar
validation.jar
XSDValidation.jar

# Report latex
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.tex.backup

# HTML files
*.html

# Project 2
Project2/deux_xslt_data/

# Project 3
Project3/trois_xquery_data/test_output1.xml
Project3/trois_xquery_data/test_output2.xml
Project3/trois_xquery_data/test_output3.xml
Project3/trois_xquery_data/output1.xml
Project3/trois_xquery_data/output3.xml
Project3/trois_xquery_data/output2.xml
